<?xml version="1.0"?>
<config>
    <modules>
        <Conlabz_CrConnect>
            <version>3.0.4</version>
        </Conlabz_CrConnect>
    </modules>
    <global>
	<helpers>
            <crconnect>
                <class>Conlabz_CrConnect_Helper</class>
            </crconnect>
        </helpers>
        <blocks>
            <crconnect>
                <class>Conlabz_CrConnect_Block</class>
            </crconnect>
            <adminhtml>
                <rewrite>
                    <newsletter_subscriber>Conlabz_CrConnect_Block_Adminhtml_Newsletter_Subscriber</newsletter_subscriber>
                    <customer_edit_tab_newsletter>Conlabz_CrConnect_Block_Adminhtml_Customer_Edit_Tab_Newsletter</customer_edit_tab_newsletter>
                </rewrite>
            </adminhtml>
        </blocks>
        <models>
            <crconnect>
                <class>Conlabz_CrConnect_Model</class>
            </crconnect>
            <newsletter>
                <rewrite>
                    <subscriber>Conlabz_CrConnect_Model_Newsletter_Subscriber</subscriber>
                </rewrite>
            </newsletter>
    	</models>
        <events>
            <controller_front_init_before>
                <observers>
                    <crconnect_controller_front_init_before>
                        <type>singleton</type>
                        <class>crconnect/observer</class>
                        <method>trackingCodesSet</method>
                    </crconnect_controller_front_init_before>
                </observers>
            </controller_front_init_before>
            <customer_session_init>
                <observers>
                    <crconnect_customer_session_init>
                        <type>singleton</type>
                        <class>crconnect/observer</class>
                        <method>trackingCodesSet</method>
                    </crconnect_customer_session_init>
                </observers>
            </customer_session_init> 
            <checkout_onepage_controller_success_action>
                <observers>
                    <crconnect_checkout_onepage_controller_success_action>
                        <type>singleton</type>
                        <class>crconnect/observer</class>
                        <method>checkoutSuccess</method>
                    </crconnect_checkout_onepage_controller_success_action>
                </observers>
            </checkout_onepage_controller_success_action>   
            <sales_order_place_after>
                <observers>
                    <crconnect_sales_order_place_after>
                        <type>singleton</type>
                        <class>crconnect/observer</class>
                        <method>orderPlacedAfter</method>
                    </crconnect_sales_order_place_after>
                </observers>
            </sales_order_place_after>
            <customer_delete_before>
                <observers>
                    <crconnect_customer_delete_before>
                        <type>singleton</type>
                        <class>crconnect/observer</class>
                        <method>customerDeleted</method>
                    </crconnect_customer_delete_before>
                </observers>
            </customer_delete_before> 
            <customer_save_after>
                <observers>
                     <crconnect_adminhtml_customer_save_after> 
                         <type>singleton</type>
                         <class>crconnect/observer</class>
                         <method>customerSaveAfter</method>
                     </crconnect_adminhtml_customer_save_after> 
                </observers>
            </customer_save_after>     
        </events>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Conlabz_CrConnect>
                    <files>
                        <default>Conlabz_CleverReach.csv</default>
                    </files>
                </Conlabz_CrConnect>
            </modules>
        </translate>
        <layout>
            <updates>
                <crconnect>
                    <file>crconnect.xml</file>
                </crconnect>
            </updates>
        </layout>
        <events>
            <admin_system_config_changed_section_crroot>
                <observers>
                    <catalogindex>
                        <class>crconnect/observer</class>
                        <method>initCleverReach</method>
                    </catalogindex>
                </observers>
            </admin_system_config_changed_section_crroot>    
            <controller_action_postdispatch_adminhtml_system_config_save>
                <observers>
                    <check_forms_ids>
                        <type>singleton</type>
                        <class>crconnect/observer</class>
                        <method>configSave</method> 
                    </check_forms_ids>
                </observers>
            </controller_action_postdispatch_adminhtml_system_config_save>
        </events>
    </adminhtml>
    <admin>
        <routers>
            <crconnect>
                <use>admin</use>
                <args>
                    <module>Conlabz_CrConnect</module>
                    <frontName>crconnect</frontName>
                </args>
            </crconnect>
        </routers>
    </admin>    
    <frontend>
        <translate>
            <modules>
                <Conlabz_CrConnect>
                    <files>
                        <default>Conlabz_CleverReach.csv</default>
                    </files>
                </Conlabz_CrConnect>
            </modules>
        </translate>
        <routers>
            <newsletter>
                <args>
                    <modules>
                        <Conlabz_CrConnect before="Mage_Newsletter">Conlabz_CrConnect</Conlabz_CrConnect>
                    </modules>
                </args>
            </newsletter>
        </routers>
        <layout>
            <updates>
                <crconnect>
                    <file>crconnect.xml</file>
                </crconnect>
            </updates>
        </layout>
    </frontend>
</config>